header {
    display: flex;
    width: 98.5%;
    flex-direction: column;
    padding: 0.5%;
    border: 2px solid blue;
    margin-bottom: 1%;
    margin-top: 1%;
}

.dev {
    border: 2px solid blue;
}

.department-name {
    width: 98.5%;
    text-align: right;
    padding: 0.5%;
}

.info-table {
    width: 98.5%;
    display: grid;
    padding: 0.5%;
}

.info-table-item {
    width: 98.5%;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
}

.label-div {
    width: 12%;
    padding: 0.5%;
}

.text-div {
    width: 86%;
    padding: 0.5%;
    font-size: 20px;
}

/* .multi-line-text-div {
    width: 86%;
    border: 2px solid blue;
    padding: 0.5%;
    font-size: 20px;
} */

input {
    width: 20%;
}

textarea {
    width: 33%;
}

.substances-table {
    width: 98.5%;
    padding: 0.5%;
    margin-bottom: 1%;
}

.substances-table-header {
  display: grid;
  grid-auto-flow: column;
}

.methodic {
  padding: 0.5%;
  width: 98.5%;
  display: grid;
  margin-bottom: 1%;
}

.methodic-substances-table {
  display: grid;
}
